Repository Alivanroy/Typosentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

.pre-commit-config.yaml:

# Enhanced .pre-commit-config.yaml for Typosentinel
# Comprehensive code quality and security checks

repos:
  # Go formatting and basic checks
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        language: system
        args: [-w, -s]
        files: \.go$
        
      - id: go-imports
        name: Go Imports
        entry: goimports
        language: system
        args: [-w, -local, github.com/Alivanroy/Typosentinel]
        files: \.go$
        
      - id: go-vet
        name: Go Vet
        entry: go
        language: system
        args: [vet, ./...]
        files: \.go$
        pass_filenames: false
        
      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go
        language: system
        args: [mod, tidy]
        files: go\.(mod|sum)$
        pass_filenames: false
        
      - id: go-mod-verify
        name: Go Mod Verify
        entry: go
        language: system
        args: [mod, verify]
        files: go\.(mod|sum)$
        pass_filenames: false
        
      - id: golangci-lint
        name: GolangCI Lint
        entry: golangci-lint
        language: system
        args: [run, --fix, --timeout=5m]
        files: \.go$
        pass_filenames: false
        
      - id: go-test
        name: Go Test
        entry: go
        language: system
        args: [test, -short, ./...]
        files: \.go$
        pass_filenames: false
        
      - id: go-build
        name: Go Build
        entry: go
        language: system
        args: [build, -v, ./...]
        files: \.go$
        pass_filenames: false

  # Security checks
  - repo: local
    hooks:
      - id: govulncheck
        name: Go Vulnerability Check
        entry: govulncheck
        language: system
        args: [./...]
        files: \.go$
        pass_filenames: false
        
      - id: gosec
        name: Go Security Check
        entry: gosec
        language: system
        args: [-quiet, ./...]
        files: \.go$
        pass_filenames: false

  # Python hooks for ML components
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: ^ml/.*\.py$
        
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: ^ml/.*\.py$
        
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^ml/.*\.py$

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  # Docker hooks
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        args: [--ignore, DL3008, --ignore, DL3009]

  # Custom TypoSentinel security checks
  - repo: local
    hooks:
      - id: typosentinel-self-scan
        name: TypoSentinel Self Scan
        entry: ./scripts/pre-commit-security-scan.sh
        language: script
        files: (go\.mod|go\.sum|package\.json|requirements\.txt)$
        pass_filenames: false
        
      - id: dependency-audit
        name: Dependency Security Audit
        entry: ./scripts/dependency-audit.sh
        language: script
        files: (go\.mod|go\.sum|package\.json|requirements\.txt)$
        pass_filenames: false
        
      - id: commit-message-check
        name: Conventional Commit Check
        entry: ./scripts/check-commit-message.sh
        language: script
        stages: [commit-msg]

feat(detector): wire Redis-backed popular cache; dynamic NPM search and Packagist popular; configurable backoff schedule in cache
  internal/detector/engine.go
  internal/detector/popular_cache.go
  internal/registry/composer_client.go
  internal/registry/npm_client.go
  internal/registry/registry.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(detector): wire backoff attempts, NPM popularity bias via config; context override for max candidates; Redis persistence gated by TTL & enabled
  internal/detector/engine.go
  internal/detector/popular_cache.go
  internal/registry/npm_client.go
  internal/registry/registry.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(detector): registry-specific tuning via config (sizes, endpoints); dynamic limits applied; viper-driven endpoints
  internal/detector/popular_cache.go
  internal/registry/composer_client.go
  internal/registry/npm_client.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(detector): add NuGet/Cargo endpoint overrides and sizes; wire dynamic popular fetch via viper
  internal/registry/cargo_client.go
  internal/registry/nuget_client.go
  internal/registry/registry.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(detector): add RubyGems/Maven popular endpoint overrides and dynamic names; connectors prefer API then curated
  internal/registry/maven_client.go
  internal/registry/registry.go
  internal/registry/rubygems_client.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(detector): add PyPI configurable popular endpoint and connector preference; flexible response decoding
  internal/registry/pypi_client.go
  internal/registry/registry.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat: enhance graph visualization with improved DOT, SVG, and Mermaid output
  main.go
  output.txt
  test_output.txt
  tests/e2e/graph_visualization_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

chore: clean repository and update .gitignore
  .gitignore
Due: none

refactor: modularize main.go into cmd/ package structure
  cmd/helpers.go
  cmd/root.go
  cmd/scan.go
  docker-test-20251129112027/package.json
  docker-test-20251129112027/scan.json
  docker-test-20251129112113/package.json
  docker-test-20251129112113/scan.json
  examples/graph_example.dot
  examples/graph_example.mmd
  examples/graph_example.svg
  examples/malicious-test/package.json
  examples/malicious_graph.dot
  examples/malicious_graph.mmd
  examples/malicious_graph.svg
  main.go
  output.txt
  test_output.txt
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

feat: complete modular cmd/ refactoring (Option C - hybrid approach)
  cmd/version.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

fix: Windows compatibility improvements for directory scanning
  internal/analyzer/analyzer.go
  internal/config/config.go
  internal/scanner/scanner.go
  internal/scanner/scanner_gitignore.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: update README with honest status, maturity matrix, and known issues
  README.md
Due: none

feat: Add comprehensive logrus logging to edge package algorithms
  internal/edge/gtr.go
  internal/edge/runt.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(scanner): configurable legitimate binary paths and CLI dirs; normalize path checks; content scanning integration; policy engine via OPA; detector popular union fix
  cmd/scan.go
  cmd/tools/fetch_packages/main.go
  data/popular_packages.json
  docs/Plan/product_critique_roadmap.md
  go.sum
  internal/detector/reputation.go
  internal/ml/scorer.go
  internal/ml/scorer_test.go
  internal/ml/types.go
  internal/registry/auto_detector.go
  internal/registry/registry.go
  internal/scanner/analyzers.go
  internal/scanner/binary_detector_test.go
  internal/scanner/content_scanner.go
  internal/scanner/install_script_test.go
  internal/scanner/metadata_enricher.go
  internal/scanner/metadata_fetcher.go
  internal/scanner/ruby_analyzer.go
  internal/scanner/windows_compat_test.go
  pkg/types/types.go
  test_install_script/package.json
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

feat(policy): add binary and typosquat policies; feat(content): whitelist extensions and max files; docs: add configuration examples for content scanning and policies
  DOCKER.md
  README.md
  internal/scanner/content_scanner.go
  policies/binary.rego
  policies/typosquat.rego
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(policy): severity mapping via Rego and engine; wire maintainers/same-group signals into typosquat evidence
  internal/detector/enhanced_typosquatting.go
  internal/policy/engine.go
  policies/severity.rego
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: add ecosystem-specific policy examples; policy: precise binary severity; config: per-registry typosquat thresholds and multi-signal gating
  docs/policies.md
  internal/detector/enhanced_typosquatting.go
  policies/binary.rego
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: ecosystem help sections; output: SARIF triage (locations, regions, structured evidence); scanner: evidence ranges and preview types
  cmd/scan.go
  docs/embedded-secrets.md
  docs/obfuscated-code.md
  docs/suspicious-behavior.md
  internal/output/sarif.go
  internal/scanner/content_scanner.go
  internal/scanner/scanner.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat: Add Phase 3 (Runtime Behavior Analysis) - Lightweight Static Network Analysis
  CHANGELOG.md
  README.md
  internal/scanner/static_network_analyzer.go
  internal/scanner/static_network_analyzer_test.go
  pkg/types/types.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

chore: Prepare for v2.0.0 OSS Release
  .gitignore
  README.md
  acme_corp_results.json
  benchmark_results.json
  ci_leaker_results.json
  cmd/scan.go
  coverage.txt
  custom_test_workspace/malicious_project/package.json
  internal/api/metrics/prometheus.go
  internal/cache/cache.go
  internal/detector/enhanced_typosquatting.go
  internal/output/options.go
  internal/output/sarif_test.go
  internal/registry/cargo_client.go
  internal/registry/composer_client.go
  internal/registry/npm_client.go
  internal/registry/nuget_client.go
  internal/registry/pypi_client.go
  internal/registry/rubygems_client.go
  internal/scanner/binary_detector.go
  internal/secrets/secrets.go
  internal/storage/storage.go
  mobile_results.json
  obfuscated_loader_results.json
  payments_results.json
  pkg/metrics/metrics.go
  pkg/metrics/metrics_test.go
  platform_results.json
  real-actions-/commons-lang-scan.json
  real-actions-/express-scan.json
  real-actions-/requests-scan.json
  real-actions-/ripgrep-scan.json
  real-actions-/sinatra-scan.json
  scan_results.json
  scan_results_utf8.json
  test_install_script/package.json
  tests/e2e/test-projects/npm-vulnerable/package.json
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

chore: Clean docs folder for OSS release
  docs/Plan/product_critique_roadmap.md
  docs/Plan/todo.md
  docs/vulnerabilities.md
Due: none

docs: cleanup and architecture documentation
  README.md
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/INTEGRATIONS.md
  docs/README.md
  docs/USER_GUIDE.md
  docs/openapi.json
  docs/openapi.yaml
  internal/integrations/connectors/integration_test.go
  internal/scanner/build_artifact_scanner_test.go
  internal/scanner/scanner.go
  internal/scanner/static_network_analyzer.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: add architecture diagrams to README and ARCHITECTURE.md
  README.md
  api/go.sum
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
Due: go-mod-tidy, go-mod-verify, typosentinel-self-scan, dependency-audit

Update implementation explanation and tests
  .gitleaks.toml
  go.mod
  go.sum
  implementation_plan.md
  internal/detector/enhanced_typosquatting.go
  internal/detector/enhanced_typosquatting_test.go
  internal/detector/keyboard.go
  internal/detector/phonetic.go
  internal/detector/tables.go
  internal/detector/visual.go
  internal/heuristics/scorer.go
  internal/heuristics/scorer_test.go
  internal/heuristics/types.go
  internal/scanner/scanner.go
  project_review.md
  task.md
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

Fix detector tests: Implement advanced patterns and fix invalid severity test case
  internal/detector/enhanced_typosquatting.go
  internal/detector/enhanced_typosquatting_test.go
  test_logs_fail.md
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

Fix CI: Increase golangci-lint timeout and update deprecated config
  .github/workflows/ci.yml
  .golangci.yml
Due: none
