Repository Alivanroy/Typosentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w
  - -s

go-imports:
  name: Go Imports
  entry: goimports
  language: system
  args:
  - -w
  - -local
  - github.com/Alivanroy/Typosentinel

go-vet:
  name: Go Vet
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

go-mod-verify:
  name: Go Mod Verify
  entry: go
  language: system
  args:
  - mod
  - verify
  pass_filenames: false

golangci-lint:
  name: GolangCI Lint
  entry: golangci-lint
  language: system
  args:
  - run
  - --fix
  - --timeout=5m
  pass_filenames: false

go-test:
  name: Go Test
  entry: go
  language: system
  args:
  - test
  - -short
  - ./...
  pass_filenames: false

go-build:
  name: Go Build
  entry: go
  language: system
  args:
  - build
  - -v
  - ./...
  pass_filenames: false

govulncheck:
  name: Go Vulnerability Check
  entry: govulncheck
  language: system
  args:
  - ./...
  pass_filenames: false

gosec:
  name: Go Security Check
  entry: gosec
  language: system
  args:
  - -quiet
  - ./...
  pass_filenames: false

typosentinel-self-scan:
  name: TypoSentinel Self Scan
  entry: ./scripts/pre-commit-security-scan.sh
  language: script
  pass_filenames: false

dependency-audit:
  name: Dependency Security Audit
  entry: ./scripts/dependency-audit.sh
  language: script
  pass_filenames: false

ci: scope E2E to PR path changes; add nightly E2E; docs: add COVERAGE_TARGETS.md; changelog updated
  .github/workflows/ci.yml
  .github/workflows/e2e-pr.yml
  COVERAGE_TARGETS.md
Due: none

ci/coverage: produce coverage_baseline.txt; bench: add large project throughput; docs: update README performance table
  .github/workflows/ci.yml
  Makefile
  README.md
  tests/benchmarks/detection_bench_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

tests(scanner): add ScanProject tests for npm/go/maven; analyzer: add parse tests; improves coverage toward targets
  internal/scanner/scanner_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

tests(e2e): add API metrics, SSE stream, and rate limit coverage by running ./api server
  tests/e2e/api_metrics_stream_ratelimit_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

api: switch /metrics to Prometheus promhttp; add JSON /metrics.json; integrate Prometheus middleware; move SSE route inside main; record rate-limit hits in metrics
  api/main.go
  go.mod
  go.sum
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

middleware: add Redis limiter backend; api: integrate Prometheus middleware and promhttp /metrics; record rate-limit hits; update imports
  go.mod
  go.sum
  internal/api/middleware/ratelimit_redis.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

deps: tidy go.mod/go.sum after Prometheus integration
  go.mod
  go.sum
Due: go-mod-tidy, go-mod-verify, typosentinel-self-scan, dependency-audit

metrics: add webhook signature failure and replay counters; add redis_connected gauge and set in Redis limiter; instrument webhook verifySignature and provider handlers
  api/main.go
  internal/api/middleware/ratelimit_redis.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

ready: prefer internal configuration for Redis DSN; emit provider enabled/signature gauges; readiness JSON includes redis and webhooks state
  api/main.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

webhook: add loader to read provider secrets from config/env; ready: use loader to expose provider readiness and update gauges
  api/main.go
  internal/api/webhook/loader.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: add v1.0.1 release notes and update changelog
  RELEASE_NOTES_v1.0.1.md
Due: none

chore: cleanup repo (remove local realworld artifacts), add suspicious-behavior doc, add realworld SBOM E2E, improve graph output and CLI options, add OpenAPI endpoints and docs
  .github/workflows/ci.yml
  api/main.go
  api/main_test.go
  docs/openapi.json
  docs/openapi.yaml
  docs/suspicious-behavior.md
  docs/swagger.html
  internal/output/cyclonedx.go
  internal/output/spdx.go
  main.go
  tests/e2e/realworld_sbom_test.go
  tests/e2e/sbom_sarif_cli_test.go
  tests/e2e/testrealworld/realword.go
  tests/e2e/testrealworld/realworld_test.go
  tests/e2e/testrealworld/server_test_helper.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

chore: ignore local realworld_tests workspaces; update SARIF helpUri to blob/main; add stub docs for typosquatting/malicious-packages/vulnerabilities
  .gitignore
  docs/malicious-packages.md
  docs/typosquatting.md
  docs/vulnerabilities.md
  internal/output/sarif.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: add Contributor Covenant v2.1 Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

docs: add governance and API docs sections in README; CI license check and tag validation; templates for issues/PRs/releases
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/RELEASE_TEMPLATE.md
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
Due: none

ci: add workflow_dispatch cleanup for releases (pre-releases/dev builds, assets-only option, keep latest stable)
  .github/workflows/cleanup-releases.yml
Due: none

security: remove default encryption key; add production validation to prevent default key usage
  internal/config/config.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

ci: add manual Linux test workflow (unit, E2E, coverage)
  .github/workflows/linux-test.yml
Due: none

build: include initial SQL migration (unignore migrations/*.sql)
  internal/database/migrations/0001_init.sql
Due: none

ci: align Go toolchain to 1.24 per go.mod; add go mod download before build
  .github/workflows/ci.yml
  .github/workflows/linux-test.yml
  .github/workflows/supply-chain-firewall.yml
Due: none

ci: add go mod download and go list before vet to stabilize module resolution
  .github/workflows/ci.yml
Due: none

ci: build before vet; set GOFLAGS=-mod=mod; make mod download non-fatal
  .github/workflows/ci.yml
Due: none

ci: update all jobs to Go 1.24 to match module; stabilize go run in sarif/e2e jobs
  .github/workflows/ci.yml
Due: none

build: add replace directive to resolve internal imports locally in CI
  go.mod
Due: go-mod-tidy, go-mod-verify, typosentinel-self-scan, dependency-audit

ci: set GOPRIVATE/GONOSUMDB/GOPROXY and build after mod download in supply-chain firewall
  .github/workflows/supply-chain-firewall.yml
Due: none

ci: enforce GO111MODULE=on and GOWORK=off; set GOPRIVATE/GONOSUMDB/GOPROXY to resolve internal imports
  .github/workflows/ci.yml
  .github/workflows/supply-chain-firewall.yml
Due: none

ci: add explicit go env configuration to enforce local resolution of internal imports
  .github/workflows/ci.yml
Due: none

ci: remove go env -w GOWORK/GO111MODULE; set only mutable go env keys to avoid failure
  .github/workflows/ci.yml
Due: none

ci: add simple workflow_dispatch to build and run Typosentinel with sample scan and upload output
  .github/workflows/run.yml
Due: none

docker: add multi-stage Dockerfile and publish workflow; README Docker Hub instructions
  .github/workflows/dockerhub-publish.yml
  README.md
Due: none

docs: add DOCKER.md guide; chore: ignore docker-realworld-* and docker-e2e-*; docs: update changelog entry
  .gitignore
  DOCKER.md
Due: none

docs: add Go Report Card badge to README
  README.md
Due: none

docs: add badges (Go Reference, Releases, Downloads, Linux Tests, Supply Chain Firewall, Docker Pulls)
  README.md
Due: none

docs: refine badges (align Go 1.24, correct CI path, add DockerHub publish; remove release/download badges until releases exist)
  README.md
Due: none

chore: remove unused scripts and legacy files; update CHANGELOG
  Dockerfile.local
  build_script.sh
  build_windows.bat
  deploy.sh
  docker-test-20251129112027/package.json
  docker-test-20251129112027/scan.json
  docker-test-20251129112113/package.json
  docker-test-20251129112113/scan.json
  internal/database/migrations/001_initial_schema.sql
  scripts/build.sh
  scripts/check-coverage.sh
  scripts/dev-setup.sh
  scripts/install.sh
  scripts/test_api.sh
Due: typosentinel-self-scan, dependency-audit

feat: expand known popular package sets for typosquatting across registries
  internal/detector/engine.go
  internal/scanner/scanner.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat: use registry-specific popular lists in CheckPackage for improved coverage
  internal/detector/engine.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(detector): add TTL popular cache with dynamic registry retrieval; add detector.max_popular_candidates and detector.popular_ttl config defaults
  internal/detector/engine.go
  internal/detector/popular_cache.go
  internal/registry/registry.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

feat(detector): runtime tuning via context; Redis-backed cache optional; retry backoff on dynamic fetch; NPM/Composer/Cargo popular support
  internal/detector/engine.go
  internal/detector/popular_cache.go
  internal/registry/registry.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  go-mod-verify: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
  go-build: any of: \.go$
  govulncheck: any of: \.go$
  gosec: any of: \.go$
  typosentinel-self-scan: any of: (go\.mod|go\.sum|package\.json|requirements\.txt)$
  dependency-audit: any of: (go\.mod|go\.sum|package\.json|requirements\.txt)$
