Repository Alivanroy/Typosentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w
  - -s

go-imports:
  name: Go Imports
  entry: goimports
  language: system
  args:
  - -w
  - -local
  - github.com/Alivanroy/Typosentinel

go-vet:
  name: Go Vet
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

go-mod-verify:
  name: Go Mod Verify
  entry: go
  language: system
  args:
  - mod
  - verify
  pass_filenames: false

golangci-lint:
  name: GolangCI Lint
  entry: golangci-lint
  language: system
  args:
  - run
  - --fix
  - --timeout=5m
  pass_filenames: false

go-test:
  name: Go Test
  entry: go
  language: system
  args:
  - test
  - -short
  - ./...
  pass_filenames: false

go-build:
  name: Go Build
  entry: go
  language: system
  args:
  - build
  - -v
  - ./...
  pass_filenames: false

govulncheck:
  name: Go Vulnerability Check
  entry: govulncheck
  language: system
  args:
  - ./...
  pass_filenames: false

gosec:
  name: Go Security Check
  entry: gosec
  language: system
  args:
  - -quiet
  - ./...
  pass_filenames: false

typosentinel-self-scan:
  name: TypoSentinel Self Scan
  entry: ./scripts/pre-commit-security-scan.sh
  language: script
  pass_filenames: false

dependency-audit:
  name: Dependency Security Audit
  entry: ./scripts/dependency-audit.sh
  language: script
  pass_filenames: false

feat: Add novel ML algorithms for advanced typosquatting detection
  README.md
  config/novel_algorithms.yaml
  demo_output.txt
  docs/NOVEL_ALGORITHMS.md
  docs/edgealgo.md
  empirical_analysis.go
  empirical_detection.py
  empirical_report_1754922338.txt
  empirical_results_1754922338.json
  empirical_test.go
  examples/novel_algorithms_demo.go
  examples_output.txt
  go.mod
  internal/ml/novel_algorithms.go
  internal/ml/novel_algorithms_test.go
  internal/ml/novel_integration.go
  internal/ml/novel_integration_test.go
  run_examples.go
  simple_demo.go
  test_packages/malicious-requests/setup.py
  test_packages/suspicious-package/package.json
  test_packages/suspicious-project/requirements.txt
  test_packages/typo-react/package.json
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

feat: Update OpenAPI spec and enterprise main.go
  api/openapi.yaml
  cmd/enterprise/main.go
  internal/ml/ml/training/data/reputation_dataset.json
  internal/ml/ml/training/data/typosquatting_dataset.json
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: Comprehensive documentation update with new features
  README.md
  docs/API_DOCUMENTATION.md
  docs/TODOBEFORELAUNCH
  docs/USER_GUIDE.md
  docs/todo.md
Due: none

docs: Comprehensive update to Detection Methods section
  README.md
Due: none

feat: Complete ML hardening system implementation
  README_ENTERPRISE.md
  SECURITY_FIXES.md
  api/main.go
  config/security.yaml
  docs/API_REFERENCE.md
  docs/PRODUCTION_READINESS_CHECKLIST.md
  docs/SECRETS_MANAGEMENT.md
  docs/SECURITY_IMPLEMENTATION_COMPLETE.md
  docs/SECURITY_IMPLEMENTATION_SUMMARY.md
  docs/SECURITY_STATUS_REPORT.md
  docs/hunter
  go.mod
  go.sum
  internal/config/config.go
  internal/security/audit_logger.go
  internal/security/dashboard.go
  internal/security/encryption.go
  internal/security/input_validator.go
  internal/security/ml_hardening.go
  internal/security/ml_hardening_test.go
  internal/security/performance_optimizer.go
  internal/security/policy_engine.go
  internal/security/rate_limiter.go
  internal/security/security_test_framework_test.go
  internal/security/trust_validator.go
  pkg/config/config.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

feat: Add threat intelligence system with NVD integration
  docs/CVE_HUNTING_FRAMEWORK.md
  docs/ZERO_DAY_ATTACK_EXAMPLES.md
  go.sum
  internal/api/rest/server.go
  internal/detector/engine.go
  internal/scanner/scanner.go
  internal/threat_intelligence/database.go
  internal/threat_intelligence/manager.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

chore: Add go/ directory to .gitignore to prevent Go toolchain binaries from being committed
  .gitignore
Due: none

feat: Python manifest parsing; align vuln endpoints; defer server heavy init; add filesystem cache (flagged); add tests and CI; update docs and compose
  .github/workflows/security-scan.yml
  docker-compose.yml
  docs/PRODUCTION_READINESS.md
  go.mod
  go.sum
  internal/analyzer/analyzer.go
  internal/api/rest/server.go
  internal/reputation/enhanced_cache.go
  internal/reputation/enhanced_reputation_system.go
  tests/filesystem_cache_integration_test.go
  tests/python-parser-variants/basic/requirements.txt
  tests/python-parser-variants/basic/sbom.json
  tests/python-parser-variants/extras_markers/requirements.txt
  tests/python-parser-variants/specifiers/requirements.txt
  tests/python_cli_parser_test.go
  tests/security_prod_smoke_test.go
  tests/smoke_negative_test.go
  tests/stress_endpoints_test.go
  tests/stress_rps_test.go
  tests/vulnerability_endpoints_test.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

docs: update production deployment and CORS; tests: isolate env to avoid production pollution; fix readiness gating; unset env after production smoke test
  .github/workflows/security-scan.yml
  README.md
  api/main.go
  cmd/enterprise/main.go
  docs/PRODUCTION_READINESS.md
  internal/api/rest/handlers/scan_handlers.go
  internal/api/rest/middleware.go
  internal/api/rest/server.go
  internal/database/threat_db.go
  internal/docker/quick_setup.go
  tests/api_integration_test.go
  tests/e2e_endpoints_test.go
  tests/python-parser-variants/basic/sbom.json
  tests/security_prod_smoke_test.go
  tests/smoke_negative_test.go
  tests/stress_endpoints_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

Add Docker test configuration with CGO support for SQLite
  Dockerfile.test
Due: none

chore: stabilize tests, add CI/CD workflows, Docker/CLI one-liners, and update docs; fix homoglyph/reputation/webhook tests; add release workflow
  .github/actions/supply-chain-firewall/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/supply-chain-firewall.yml
  CHANGELOG.md
  Dockerfile
  README.md
  api/main.go
  api/main_test.go
  docs/INTEGRATIONS.md
  docs/Plan/todo.md
  go.mod
  go.sum
  internal/api/webhook/handlers.go
  internal/api/webhook/handlers_test.go
  internal/detector/engine.go
  internal/detector/engine_test.go
  internal/detector/enhanced_typosquatting_test.go
  internal/detector/homoglyph.go
  internal/detector/homoglyph_test.go
  internal/detector/reputation.go
  internal/detector/reputation_test.go
  internal/detector/utils_test.go
  main.go
  pkg/types/types_test.go
  scripts/test_api.sh
  tests/api/api_test.go
  tests/api/webhook_test.go
  tests/e2e/e2e_test.go
  tests/e2e/scanner_e2e_test.go
  tests/python_cli_parser_test.go
Due: go-fmt, go-imports, go-vet, go-mod-tidy, go-mod-verify, golangci-lint, go-test, go-build, govulncheck, gosec, typosentinel-self-scan, dependency-audit

docs: add honest performance metrics based on local benchmarks
  .github/workflows/ci.yml
  .gitleaks.toml
  .golangci.yml
  README.md
  SECURITY.md
  api/main.go
  docs/Plan/todo.md
  internal/detector/homoglyph_test.go
  tests/benchmarks/detection_bench_test.go
  tests/python_cli_parser_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

bench/docs: add small/medium throughput benchmarks and update README metrics
  .github/workflows/ci.yml
  README.md
  tests/benchmarks/detection_bench_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

security: enforce API auth when enabled; use constant-time compare for API keys
  README.md
  api/main.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: add DECISIONS.md, FEATURE_AUDIT.md, API_REFERENCE.md, USER_GUIDE.md; tests: add e2e skeletons; notes: add RELEASE_NOTES_v1.1.0.md; changelog updated
  DECISIONS.md
  RELEASE_NOTES_v1.1.0.md
  docs/API_REFERENCE.md
  docs/FEATURE_AUDIT.md
  docs/USER_GUIDE.md
  tests/e2e/api_test.go
  tests/e2e/cli_scan_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: add GHCR usage; add CONTRIBUTING.md; add issue templates (bug, feature)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CONTRIBUTING.md
  README.md
  tests/e2e/api_workflow_test.go
  tests/e2e/e2e_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

ci: add e2e job and upload coverage.html artifacts; streamline jobs
  .github/workflows/ci.yml
Due: none

test(e2e): add real CLI scan test; api: add /api/v1/scans 501; ci: fail on govulncheck findings
  .github/workflows/ci.yml
  api/main.go
  tests/e2e/cli_scan_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

output: add SARIF formatter test; cli: support --output sarif in scan output path
  main.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

test(e2e): add Go and Maven CLI scans (skip when unsupported)
  tests/e2e/cli_go_test.go
  tests/e2e/cli_maven_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

ci: add sarif-report job to generate and upload SARIF from sample project
  .github/workflows/ci.yml
Due: none

analyzer: add go.mod and pom.xml parsing; detect maven; discover pom.xml; CLI SARIF supported; tests updated
  internal/analyzer/analyzer.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

docs: add CLI flags and memory profile; feature audit updates; ci: upload SARIF to code scanning
  .github/workflows/ci.yml
  README.md
  docs/FEATURE_AUDIT.md
  docs/USER_GUIDE.md
Due: none

docs: add performance summary table; update SECURITY reporting channel to GitHub Advisories
  README.md
  SECURITY.md
Due: none

docs(api): document /api/v1/scans returning 501 planned
  docs/API_REFERENCE.md
Due: none

cli: add --registry flag mapping to package-manager; docs already reference registry flag
  main.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

release: attach SARIF to GitHub release; docs: add --registry usage examples
  .github/workflows/release.yml
  README.md
Due: none

ci: add e2e-nightly scheduled workflow; release: generate SARIF for go and maven temp projects
  .github/workflows/e2e-nightly.yml
  .github/workflows/release.yml
  tests/e2e/cli_go_test.go
  tests/e2e/cli_maven_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

tests: add unit tests for Go/Maven parser; release: add PyPI SARIF generation
  .github/workflows/release.yml
  internal/analyzer/analyzer_parse_test.go
Due: go-fmt, go-imports, go-vet, golangci-lint, go-test, go-build, govulncheck, gosec

configs: add default typosentinel.yaml and config/config.yaml; examples: add npm/pypi/go/maven sample projects; docs: reference examples in README
  README.md
  config/config.yaml
  examples/go-minimal/go.mod
  examples/maven-minimal/pom.xml
  examples/npm-clean/package.json
  examples/npm-vulnerable/package.json
  examples/pypi-clean/requirements.txt
  examples/pypi-vulnerable/requirements.txt
  typosentinel.yaml
Due: go-mod-tidy, go-mod-verify, typosentinel-self-scan, dependency-audit

Path conditions:
  go-fmt: any of: \.go$
  go-imports: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  go-mod-verify: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
  go-build: any of: \.go$
  govulncheck: any of: \.go$
  gosec: any of: \.go$
  typosentinel-self-scan: any of: (go\.mod|go\.sum|package\.json|requirements\.txt)$
  dependency-audit: any of: (go\.mod|go\.sum|package\.json|requirements\.txt)$
