Repository Alivanroy/Typosentinel: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, govulncheck, gosec, typosentinel-self-scan, dependency-audit

go-fmt:
  name: Go Format
  entry: gofmt
  language: system
  args:
  - -w
  - -s

go-vet:
  name: Go Vet
  entry: go
  language: system
  args:
  - vet
  - ./...
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  language: system
  args:
  - mod
  - tidy
  pass_filenames: false

golangci-lint:
  name: GolangCI Lint
  entry: golangci-lint
  language: system
  args:
  - run
  - --fix
  pass_filenames: false

govulncheck:
  name: Go Vulnerability Check
  entry: govulncheck
  language: system
  args:
  - ./...
  pass_filenames: false

gosec:
  name: Go Security Check
  entry: gosec
  language: system
  args:
  - -quiet
  - ./...
  pass_filenames: false

typosentinel-self-scan:
  name: TypoSentinel Self Scan
  entry: ./scripts/pre-commit-security-scan.sh
  language: script
  pass_filenames: false

dependency-audit:
  name: Dependency Security Audit
  entry: ./scripts/dependency-audit.sh
  language: script
  pass_filenames: false

feat: add comprehensive GitLab CI/CD pipeline
  .gitlab-ci.yml
Due: none

feat: enhance documentation and community setup
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/security_report.yml
  README.md
  docs/TROUBLESHOOTING.md
Due: none

fix: resolve GitHub Actions workflow issues
  .github/workflows/ci.yml
Due: none

push
  internal/optimization/cache_manager.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

doc: delete files
  PRE_DEPLOYMENT_CHECKLIST.md
  PRODUCTION_DEPLOYMENT.md
Due: none

Add web demo with production TypoSentinel integration
  web-demo/Dockerfile
  web-demo/README.md
  web-demo/SETUP_GUIDE.md
  web-demo/TESTING.md
  web-demo/api/Dockerfile
  web-demo/api/go.mod
  web-demo/api/go.sum
  web-demo/api/server.go
  web-demo/backup.sh
  web-demo/deploy.sh
  web-demo/docker-compose.yml
  web-demo/index.html
  web-demo/monitoring.html
  web-demo/monitoring/grafana/dashboards/dashboard.yml
  web-demo/monitoring/grafana/dashboards/typosentinel-dashboard.json
  web-demo/monitoring/grafana/datasources/prometheus.yml
  web-demo/monitoring/nginx.conf
  web-demo/monitoring/prometheus.yml
  web-demo/monitoring/rules/alerts.yml
  web-demo/nginx.conf
  web-demo/script.js
  web-demo/start-demo.sh
  web-demo/styles.css
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, govulncheck, gosec, typosentinel-self-scan, dependency-audit

Fix API routing and JavaScript syntax errors
  web-demo/nginx.conf
  web-demo/script.js
Due: none

Fix API endpoint routing and health check configuration
  web-demo/docker-compose.yml
  web-demo/monitoring/nginx.conf
Due: none

Update web demo with enhanced UI and real-time analysis features
  web-demo/index.html
  web-demo/script.js
  web-demo/styles.css
Due: none

Fix test compilation issues and enhance core functionality
  cmd/scan.go
  internal/analyzer/analyzer.go
  internal/api/rest/middleware.go
  internal/api/rest/server.go
  internal/detector/reputation.go
  internal/dynamic/sandbox.go
  internal/ml/analyzer.go
  internal/optimization/performance_optimizer.go
  internal/registry/registry.go
  internal/scanner/scanner.go
  scripts/load_test.go
  scripts/loadtest.go
  tests/debug_test.go
  tests/dynamic_reallife_test.go
  tests/main_test.go
  tests/ml_reallife_test.go
  tests/reputation_reallife_test.go
  tests/vulnerability_reallife_test.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

Clean project for product launch: Remove testsuite and test artifacts
  run_comprehensive_tests.sh
  test_config.yaml
  testsuite/comprehensive.py
  testsuite/debug_comprehensive.py
  testsuite/debug_parsing.py
  testsuite/hardesttest.go
  testsuite/hardesttest_test.go
  testsuite/realworldtest
  testsuite/realworldtestmain.go
  testsuite/test_config.yaml
  testsuite/test_report.md
  testsuite/testvalidator.py
  testsuite/threatvalidation
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

Fix threat intelligence manager feed configuration type safety
  internal/detector/supply_chain.go
  internal/ml/scorer_test.go
  internal/plugins/github_actions.go
  internal/scanner/analyzers.go
  internal/threat_intelligence/alerting.go
  internal/threat_intelligence/feeds.go
  internal/threat_intelligence/manager.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

feat: Implement comprehensive security tool integration system
  config/integrations.example.yaml
  docs/INTEGRATIONS.md
  examples/basic_usage/vulnerability_integration.go
  internal/config/config.go
  internal/events/bus.go
  internal/integrations/connectors/email.go
  internal/integrations/connectors/slack.go
  internal/integrations/connectors/splunk.go
  internal/integrations/connectors/webhook.go
  internal/integrations/hub/factory.go
  internal/integrations/hub/hub.go
  internal/scanner/scanner.go
  newintegration.md
  pkg/events/types.go
  pkg/integrations/connector.go
  run_hardest_test.go
  tests/integration/integrations_test.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

feat : Update README.md
  README.md
Due: none

Fix compilation errors and runtime issues
  internal/config/config.go
  internal/integrations/hub/hub.go
  internal/scanner/analyzers.go
  internal/scanner/scanner.go
  run_hardest_test.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

Add web frontend and demo specification files
  demospec
  typosentinel-web/web/package.json
  web/index.html
  web/package.json
  web/postcss.config.js
  web/src/App.tsx
  web/src/components/AICapabilities.tsx
  web/src/components/ClientLogos.tsx
  web/src/components/Footer.tsx
  web/src/components/HeroSection.tsx
  web/src/components/MatrixRain.tsx
  web/src/components/Navbar.tsx
  web/src/components/PerformanceMetrics.tsx
  web/src/components/ScrollToTop.tsx
  web/src/components/SecurityCertifications.tsx
  web/src/components/ThreatCounter.tsx
  web/src/components/ThreatDashboardPreview.tsx
  web/src/hooks/useKonamiCode.ts
  web/src/index.css
  web/src/main.tsx
  web/src/pages/APIPlayground.tsx
  web/src/pages/CLI.tsx
  web/src/pages/Demo.tsx
  web/src/pages/Documentation.tsx
  web/src/pages/Home.tsx
  web/src/pages/Pricing.tsx
  web/tailwind.config.js
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Due: typosentinel-self-scan, dependency-audit

Remove web frontend components from main branch
  typosentinel-web/web/package.json
  web/index.html
  web/package.json
  web/postcss.config.js
  web/src/App.tsx
  web/src/components/AICapabilities.tsx
  web/src/components/ClientLogos.tsx
  web/src/components/Footer.tsx
  web/src/components/HeroSection.tsx
  web/src/components/MatrixRain.tsx
  web/src/components/Navbar.tsx
  web/src/components/PerformanceMetrics.tsx
  web/src/components/ScrollToTop.tsx
  web/src/components/SecurityCertifications.tsx
  web/src/components/ThreatCounter.tsx
  web/src/components/ThreatDashboardPreview.tsx
  web/src/hooks/useKonamiCode.ts
  web/src/index.css
  web/src/main.tsx
  web/src/pages/APIPlayground.tsx
  web/src/pages/CLI.tsx
  web/src/pages/Demo.tsx
  web/src/pages/Documentation.tsx
  web/src/pages/Home.tsx
  web/src/pages/Pricing.tsx
  web/tailwind.config.js
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Due: typosentinel-self-scan, dependency-audit

feat: Fix Docker implementation and add comprehensive testing
  DOCKER_TEST_REPORT.md
  Dockerfile
Due: none

feat: Add multi-platform package target to Makefile
  Makefile
Due: none

feat: Add comprehensive release automation and Docker support
  .gitignore
  DOCKER_RELEASE_GUIDE.md
  RELEASE_GUIDE.md
  docker-release.sh
  push-docker.sh
  quick-push.sh
  scripts/create-release-api.sh
  scripts/create-release.sh
Due: none

feat: Add multi-platform release automation and deployment infrastructure
  .github/workflows/release.yml
  DEPLOYMENT_PLAN.md
  Makefile
  RELEASE.md
  api/Dockerfile
  api/go.mod
  api/go.sum
  api/main.go
  config/prometheus.yml
  docker-compose.yml
  etc/nginx/sites-available/typosentinel.com
  install.sh
  scripts/build-release.sh
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, govulncheck, gosec, typosentinel-self-scan, dependency-audit

Fix cross-compilation issues and build v1.2.0 release packages
  internal/monitoring/monitoring.go
  run_supply_chain_tests.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

fix: Clean up whitespace and formatting in enterprise dashboard
  cmd/enterprise/main.go
  internal/enterprise/dashboard/dashboard.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

feat: Merge web frontend from web branch
  web/index.html
  web/package.json
  web/postcss.config.js
  web/src/App.tsx
  web/src/components/AICapabilities.tsx
  web/src/components/ClientLogos.tsx
  web/src/components/Footer.tsx
  web/src/components/HeroSection.tsx
  web/src/components/MatrixRain.tsx
  web/src/components/Navbar.tsx
  web/src/components/PerformanceMetrics.tsx
  web/src/components/ScrollToTop.tsx
  web/src/components/SecurityCertifications.tsx
  web/src/components/ThreatCounter.tsx
  web/src/components/ThreatDashboardPreview.tsx
  web/src/hooks/useKonamiCode.ts
  web/src/index.css
  web/src/main.tsx
  web/src/pages/APIPlayground.tsx
  web/src/pages/CLI.tsx
  web/src/pages/Demo.tsx
  web/src/pages/Documentation.tsx
  web/src/pages/Home.tsx
  web/src/pages/Pricing.tsx
  web/tailwind.config.js
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Due: typosentinel-self-scan, dependency-audit

📚 Add comprehensive release documentation
  DEPLOYMENT_GUIDE.md
  RELEASE_NOTES_v1.0.0.md
  scripts/build-release.sh
  scripts/create-github-release.sh
Due: none

feat: Complete ML module compilation fixes and enhanced security implementation
  IMPLEMENTATION_PLAN.md
  SECURITY_CHECKLIST.md
  SECURITY_IMPLEMENTATION.md
  etc/planaudit
  internal/api/rest/middleware.go
  internal/api/rest/middleware/sc_middleware.go
  internal/ml/adaptive_thresholds.go
  internal/ml/analyzer.go
  internal/ml/auto_retrain.go
  internal/ml/enhanced_algorithms.go
  internal/ml/enhanced_behavioral.go
  internal/ml/enhanced_helpers.go
  internal/ml/enhanced_integration_test.go
  internal/ml/enhanced_test.go
  internal/ml/feature_engineering.go
  internal/ml/ml/training/data/reputation_dataset.json
  internal/ml/ml/training/data/typosquatting_dataset.json
  internal/ml/model_evaluator.go
  internal/ml/threat_predictor.go
  internal/ml/training_data_manager.go
  internal/ml/training_pipeline.go
  internal/ml/training_pipeline_test.go
  internal/reputation/enhanced_analysis_methods.go
  internal/reputation/enhanced_cache.go
  internal/reputation/enhanced_reputation_system.go
  internal/reputation/enhanced_reputation_test.go
  internal/security/auth_service.go
  internal/security/behavioral_analyzer.go
  internal/security/security_config.go
  internal/security/security_integration.go
  internal/security/security_middleware.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

feat: Implement comprehensive user store functionality
  internal/security/USER_STORE_README.md
  internal/security/auth_service.go
  internal/security/security_integration.go
  internal/security/service_init_example.go
  internal/security/user_repository.go
  internal/security/user_repository_factory.go
Due: go-fmt, go-vet, golangci-lint, govulncheck, gosec

feat: Add comprehensive SBOM (Software Bill of Materials) support
  .env.example
  .gitignore
  .trae/rules/dev_workflow.md
  .trae/rules/self_improve.md
  .trae/rules/taskmaster.md
  .trae/rules/trae_rules.md
  .vercel/project.json
  docs/sbom
  docs/setalgorithm
  go.mod
  go.sum
  internal/api/rest/enterprise_handlers.go
  internal/ml/auto_retrain.go
  internal/ml/ml/training/data/reputation_dataset.json
  internal/ml/ml/training/data/typosquatting_dataset.json
  internal/output/cyclonedx.go
  internal/scanner/scanner.go
  internal/scanner/zero_day_detector.go
  main.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, govulncheck, gosec, typosentinel-self-scan, dependency-audit

chore: Update .gitignore to exclude .trae directory and binaries
  .gitignore
  .trae/rules/dev_workflow.md
  .trae/rules/self_improve.md
  .trae/rules/taskmaster.md
  .trae/rules/trae_rules.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  govulncheck: any of: \.go$
  gosec: any of: \.go$
  typosentinel-self-scan: any of: (go\.mod|go\.sum|package\.json|requirements\.txt)$
  dependency-audit: any of: (go\.mod|go\.sum|package\.json|requirements\.txt)$
